@keyframes pulse {
    from {color:orchid}
    to {color: purple;}
}
.myjumbotron{
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    
color:white;
} 
.pulseText{
    animation: pulse 0.7s ease-out  infinite alternate ;
}